<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lntu.online"
    android:versionCode="34"
    android:versionName="1.3.0">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.lntu.online.app.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Light.NoTitleBar">

        <activity
            android:name="com.lntu.online.LogoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lntu.online.LoginActivity"
            android:label="@string/user_login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.AboutActivity"
            android:label="@string/about_app"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.AdviceActivity"
            android:label="@string/about_app"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="com.lntu.online.StudentInfoActivity"
            android:label="@string/student_info"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.CurriculumActivity"
            android:label="@string/curriculum"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.ExamPlanActivity"
            android:label="@string/exam_plan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.CourseScoreActivity"
            android:label="@string/grades_query"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.CommunityActivity"
            android:label="@string/community_meng"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.UnpassCourseActivity"
            android:label="@string/unpass_query"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.SkillTestScoreActivity"
            android:label="@string/skill_test"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.NoticeActivity"
            android:label="@string/senate_notice"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.MottoActivity"
            android:label="@string/remember_motto"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.CrashShowActivity"
            android:label="@string/user_login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>
