<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lntu.online">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.lntu.online.app.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.lntu.online.activity.LogoActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.lntu.online.activity.LoginActivity"
            android:label="@string/user_login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.AgreementActivity"
            android:label="@string/user_agreement"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.AboutActivity"
            android:label="@string/about_app"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.AdviceActivity"
            android:label="@string/advice"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="com.lntu.online.activity.StudentInfoActivity"
            android:label="@string/student_info"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.CurriculumActivity"
            android:label="@string/curriculum"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.ExamPlanActivity"
            android:label="@string/exam_plan"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.CourseScoreActivity"
            android:label="@string/grades_query"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.OneKeyActivity"
            android:label="@string/one_key"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.UnpassCourseActivity"
            android:label="@string/unpass_query"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.SkillTestActivity"
            android:label="@string/skill_test"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.NoticeActivity"
            android:label="@string/senate_notice"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.MottoActivity"
            android:label="@string/remember_motto"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.lntu.online.activity.CrashShowActivity"
            android:label="@string/app_crash"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- 友盟参数 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="548fa73efd98c5ebda00035b" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="LntuOnline" />

        <!-- 友盟自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>
