<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lntu.online">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name="org.lntu.online.app.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="org.lntu.online.ui.activity.LogoActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="org.lntu.online.ui.activity.AuthErrorActivity"
            android:label="@string/auth_error"
            android:theme="@style/AppTheme.TranslucentPage"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.LoginActivity"
            android:label="@string/user_login"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.TermsOfServiceActivity"
            android:label="@string/term_of_service"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.LicenseActivity"
            android:label="@string/open_source_license"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.StudentInfoActivity"
            android:label="@string/student_info"
            android:theme="@style/AppTheme.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.ClassTableCourseActivity"
            android:label="@string/class_table_course_info"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.GradesActivity"
            android:label="@string/grades_query"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.OneKeyEvaActivity"
            android:label="@string/one_key_eva"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.SenateNoticeDetailActivity"
            android:label="@string/senate_notice"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.AdviceActivity"
            android:label="@string/advice"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />

        <activity
            android:name="org.lntu.online.ui.activity.NotificationActivity"
            android:label="@string/notification"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.SettingActivity"
            android:label="@string/setting"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.AboutActivity"
            android:label="@string/about"
            android:theme="@style/AppTheme.FitsStatusBar"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="org.lntu.online.ui.activity.CrashLogActivity"
            android:label="@string/app_crash"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- 友盟参数 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="${UMENG_APPKEY}" />

        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL}" />

        <!-- 友盟自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@style/Theme.AppCompat.Light.Dialog"
            android:screenOrientation="portrait"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>
